# Dependencies
node_modules/
package-lock.json
yarn.lock

# Rust specific
/target/
**/*.rs.bk
Cargo.lock
blueband_rust/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store


# Environment files
.env
.env.local
.env.*.local

# Build outputs
/dist/
/build/
/declarations/

.dfx/


docs.md
advantage.md


# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Coverage directory
/coverage/
